.hdr {
  width: 575px;
  height: 70px;
  margin: 50px auto;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 96px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}