.main {
  width: 1140px;
  min-height: 917px;
  background-color: #ffffff;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;

  h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 48px;
    color: #0039C7;
    span {
      color: #0039C7;
    }
  }
  &.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;

    .categories-grid {
      display: grid;
      grid-template-columns: repeat(2, 483px);
      grid-template-rows: repeat(3, 214px);
      gap: 20px;
      width: 986px;
      height: 682px;
    }

    .category-btn {
      display: flex;
      width: 270px;
      height: 60px;
      background: #ffffff;
      border: 3px solid #002D66;
      border-radius: 30px;
      padding: 75px 95px;
      font-size: 46px;
      font-weight: 500;
      color: #000000;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
      }
    }
    .category-icon {
      width: 80px;
      height: 80px;
      margin-left: 20px;
    }

    .categ-img{
      display: flex;
      text-align: center;
    }
  }
  &.news {
    .container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 20px;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
    }

    .loading,
    .no-news {
      grid-column: 1 / -1;
      text-align: center;
      padding: 40px;
      font-size: 50px;
    }
  }


  
  .main.categories {
  .categories-grid {
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      width: 100%;
      height: auto;
      padding: 10px;
    }
  }

  .category-btn {
    @media (max-width: 768px) {
      width: 100%;
      height: 80px;
      padding: 10px;
      font-size: 24px;
      flex-direction: column;
    }
  }

  .category-icon {
    @media (max-width: 768px) {
      width: 40px;
      height: 40px;
      margin-left: 10px;
    }
  }
}
}