.mainCard{
  width: 330px;
  height: 195px;
  display: flex;
  margin-left: 10px;
  border-radius: 35px;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:hover{
    box-shadow: 1px 9px 18px 16px rgba(106, 113, 118, 0.33);
    border-radius: 35px;
    transform: translateY(-5px);
    transition: 0.4s ease-in-out;
  }
  
  .card-photo{
    width: 110px;
    height: 195px;
    border-radius: 0 35px 35px 0;
    box-shadow: -13px 0px 6px -1px rgba(173, 255, 0, 0.7);
    object-fit: cover;
  }
  .Card{
    width: 208px;
    height: 179px;
    background-color: #0039C7;
    color: aliceblue;
    border-radius: 35px 0 0 35px;
    padding: 1px 5px 15px 15px;
    font-size: 16px;
    order: -1;
    
  }
  
  h2 {
      font-size: 16px;
      margin: 5px 0 15px 5px;
      display: -webkit-box;
      -webkit-line-clamp: 2; 
      line-clamp: 2; 
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 30px; 
    }

    p {
      font-size: 18px;
      color: #ffffff;
      margin: 0 0 30px 0;
      display: -webkit-box;
      -webkit-line-clamp: 3; 
      line-clamp: 3; 
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 25px;
    }

  .btn-card{
    width: 81px;
    height: 29px;
    border-radius: 7px;
    padding: 6px 5px 6px 5px;
    background-color: #ADFF00;
    cursor: pointer;
    border: #ADFF00;
    margin-right: 5px;
  }

.btn-like {
  background-color: #0039C7;
  width: 30px;
  height: 28px;
  border-radius: 7px;
  border: 1px solid #ADFF00;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: #ADFF00;
    transform: scale(1.1);
  }

  &.active {
    background-color: #ADFF00;
  }
}
}