.mainCard{
  width: 330px;
  height: 200px;
  display: flex;
  margin-left: 10px;
  
  .card-photo{
    width: 110px;
    height: 195px;
    border-radius: 0 35px 35px 0;
  }
  .Card{
    width: 208px;
    height: 180px;
    background-color: #0039C7;
    color: aliceblue;
    border-radius: 35px 0 0 35px;
    padding: 1px 5px 15px 15px;
    font-size: 16px;
    order: -1;
    
  }

  .btn-card{
    width: 81px;
    height: 29px;
    border-radius: 7px;
    padding: 6px 5px 6px 5px;
    background-color: #ADFF00;
    cursor: pointer;
  }

  .btn-like{
    background-color: #0039C7;
    width: 30px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #ADFF00;
    cursor: pointer;
  }
}
