.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1140px;
  height: 82.3vh;
  background-color: aliceblue;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  margin: 0 auto;
  padding: 20px;

  h1{
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #000;
  }

  .main-span{
    color: #0039C7;
    
  }

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

  .loading,
  .no-news {
    grid-column: 1 / -1;
    text-align: center;
    padding: 40px;
    font-size: 50px;
  }
}


