.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1140px;
  height: 82vh;
  background-color: aliceblue;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  margin: 0 auto;

  h1{
    text-transform: uppercase;
  }

  span {
    color: #0039C7;
    
  }

  .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    border: 2px;
    width: 95%;
    height: 650px;
  }
}

